<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yanghang.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActivityConnect"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ActivityEditInfo"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".MainFormActivity"
            android:label="@string/title_activity_main_form"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityMessage"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".OthersView.swipebacklayout.lib.app.SwipeBackActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.yanghang.myapplication.OthersView.swipebacklayout.lib.app.SwipeBackActivity" />
        </activity>
    </application>

</manifest>
